*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background-color: ghostwhite;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    padding: 0.5vw 2vw;
}

.body{
    display: flex;
    padding: 15px 15px;
}

.options{
    text-align: center;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.color-picker{
    margin: 35px auto;
    background: none;
    padding: none;
    border: none;
    width: 80px;
    height: 80px;
    transition: 0.1s;
}

.color-picker:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.button{
    border: 1px solid darkgray;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: ghostwhite;
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 25px;
    transition: 0.1s;
    max-width: 235px;
    width: 100%;
}

.button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.pixel-status{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.slider-container{
    display: flex;
    font-weight: 600;
    gap: 10px;
}

.slider-title{
    margin-top: -5px;
    white-space: nowrap;
}

.slider:hover{
    cursor: pointer;
}

.grid-flex{
    flex: 3;
    padding-top: 2%;
}

.grid-container{
    background-color: darkgrey;
    padding: 0.8px;
    display: grid;
    grid-gap: 0.8px;
    max-width: 450px;
    min-width: 350px;
    box-shadow: 1px 1px 5px 5px grey;
}

.grid-item{
    background-color: ghostwhite;
    width: 100%;
    padding-bottom: 100%;
}

.footer{
    background-color: ghostwhite;
    text-align: center;
    padding: 1vw 2vw;
    font-weight: 600;
}

.selected{
    background-color: #333;
    color: ghostwhite;
}